# Must replace these
# ==================
# 1. Path to postgres data directory on the host. Make sure there's 100GB of space
PG_DATA_HOST_PATH=/tmp/data
# 2. Path to the downloaded changeset metadaata archive file on the host filesystem
LOADER_CHANGESET_FILE=/path/to/discussions-latest.osm.bz2
# 3. OSM OAuth application client id and secret
OSM_CLIENT_ID=replace_me
OSM_CLIENT_SECRET=replace_me


# Don't change host / port unless you also change in docker compose.
POSTGRES_USER=osmuser
POSTGRES_PASSWORD=osmpass
POSTGRES_DB=osm_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# For the archive loader.
LOADER_NUM_WORKERS=8
LOADER_QUEUE_SIZE=32
LOADER_BATCH_SIZE=25000  # how many changesets in a batch to commit to PG
LOADER_BUFFER_SIZE=524288
LOADER_LOGLEVEL=DEBUG

# for the catch up and backfill loader
REPLICATION_BASE_URL=https://planet.osm.org/replication/changesets
SLEEP_TIME=60  # seconds, between tries to fetch new replication file. Published every minute
START_SEQUENCE=5999999  # which sequence should be the oldest to fetch
THROTTLE_DELAY=0.2  # seconds
MAX_RETRY_DELAY=60  # seconds

# API defaults
MIN_CHANGESETS=1  # min number of changesets made by a user in bbox to "count" for the mapper list
MAX_BBOX_FOR_LOCAL=0.1  # max changeset bounding box size, in degrees, to be considered a local changeset.
RETENTION_PERIOD=365 days  # sql interval expression, changesets between now and now-interval will be included. This HAS TO BE in the form of `xxx days` because we use the days number in a Python script as well using a string split on this var. 


# Geographic boundaries (for mapper activity centers)
ADM_BOUNDARIES_DOWNLOAD_URL=https://naciscdn.org/naturalearth/10m/cultural/ne_10m_admin_1_states_provinces.zip
