# Don't change host / port unless you also change in docker compose.
POSTGRES_USER=osmuser
POSTGRES_PASSWORD=osmpass
POSTGRES_DB=osm_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# For the archive loader.
BATCH_SIZE=100000  # how many changesets in a batch to commit to PG
CHANGESET_FILE=/path/to/your/discussions-latest.osm.bz2  # path to your local changesets archive
TRUNCATE=true  # truncate the tables before importing
FROM_DATE=  # optional start date, nothing before this date (UTC) will be importefd.
TO_DATE=  # optional end date, nothing after this date (UTC) will be importefd.

# for the catch up and backfill loader
SLEEP_TIME=60  # seconds, between tries to fetch new replication file. Published every minute
START_SEQUENCE=3742653  # which sequence should be the oldest to fetch, example, around 2020-01-01. System will stop backfilling once this is reached.
THROTTLE_DELAY=0.05  # don't blast the OSM servers while backfilling

# API defaults
MIN_CHANGESETS=1  # min number of changesets made by a user in bbox to "count" for the mapper list
MAX_BBOX_FOR_LOCAL=0.1  # max changeset bounding box size, in degrees, to be considered a local changeset.