aider==0.2.6
aider-install==0.1.3
alembic==1.11.1
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
attrs==24.3.0
build==1.2.2
CacheControl==0.14.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
configparser==7.1.0
construct==2.10.70
crashtest==0.4.1
distlib==0.3.8
dulwich==0.21.7
ExifRead==2.3.2
fastapi==0.110.1
fastjsonschema==2.20.0
filelock==3.16.1
gpxpy==1.5.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.4.0
jsonschema==4.17.3
keyring==24.3.1
lxml==5.3.0
Mako==1.3.9
mapillary_tools==0.12.1
MarkupSafe==3.0.2
more-itertools==10.5.0
msgpack==1.1.0
-e git+ssh://git@github.com/mvexel/osm-changeset-loader.git@804a417172c6aade6c9b922dd349de9068ce1767#egg=osm_changeset_loader
-e git+ssh://git@github.com/mvexel/osmdiff.git@b561c8cb5865621d816f6d9b715b6a3709c8ea79#egg=osmdiff
packaging==24.1
pexpect==4.9.0
piexif==1.1.3
pkginfo==1.11.1
platformdirs==4.3.6
pluggy==1.5.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pynmea2==1.19.0
pyproject_hooks==1.2.0
pyrsistent==0.20.0
PySocks==1.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
PyYAML==6.0.2
RapidFuzz==3.10.0
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.38
SQLAlchemy-Utils==0.41.2
starlette==0.37.2
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2024.9.12
typing_extensions==4.12.2
urllib3==2.3.0
uv==0.5.24
uvicorn==0.29.0
virtualenv==20.26.6
xattr==1.1.0
