alembic==1.11.1
certifi==2025.1.31
charset-normalizer==3.4.1
fastapi==0.110.1
idna==3.10
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.38
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.29.0
