[Unit]
Description=OSM Meet Your Mappers Service
After=network.target

[Service]
User=osm
Group=osm
ExecStart=/usr/local/bin/osm-meet-your-mappers
Restart=always
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
